# Data Preprocessing Notebook

This notebook provides a walkthrough of the data preprocessing steps using PySpark, preparing the dataset for subsequent exploratory data analysis and modeling.

## Setting Up Spark Environment

In [20]:
import os

# Set Java and Spark paths
os.environ["JAVA_HOME"] = "/opt/homebrew/opt/openjdk@17"
os.environ["SPARK_HOME"] = "/opt/homebrew/Cellar/apache-spark/4.0.0/libexec"

from pyspark.sql import SparkSession

# Create Spark session
spark = SparkSession.builder \
    .appName("PreprocessingNotebook") \
    .getOrCreate()

## Loading Data

In [21]:
#Reading in data from CSV file in data folder
customer_data = spark.read.option("sep", "\t").option("inferSchema", "true").csv("../Data/marketing_campaign.csv", header = True)

In [22]:
#Verify data was read in correctly
customer_data.printSchema()

root
 |-- ID: integer (nullable = true)
 |-- Year_Birth: integer (nullable = true)
 |-- Education: string (nullable = true)
 |-- Marital_Status: string (nullable = true)
 |-- Income: integer (nullable = true)
 |-- Kidhome: integer (nullable = true)
 |-- Teenhome: integer (nullable = true)
 |-- Dt_Customer: string (nullable = true)
 |-- Recency: integer (nullable = true)
 |-- MntWines: integer (nullable = true)
 |-- MntFruits: integer (nullable = true)
 |-- MntMeatProducts: integer (nullable = true)
 |-- MntFishProducts: integer (nullable = true)
 |-- MntSweetProducts: integer (nullable = true)
 |-- MntGoldProds: integer (nullable = true)
 |-- NumDealsPurchases: integer (nullable = true)
 |-- NumWebPurchases: integer (nullable = true)
 |-- NumCatalogPurchases: integer (nullable = true)
 |-- NumStorePurchases: integer (nullable = true)
 |-- NumWebVisitsMonth: integer (nullable = true)
 |-- AcceptedCmp3: integer (nullable = true)
 |-- AcceptedCmp4: integer (nullable = true)
 |-- AcceptedCmp5: integer (nullable = true)
 |-- AcceptedCmp1: integer (nullable = true)
 |-- AcceptedCmp2: integer (nullable = true)
 |-- Complain: integer (nullable = true)
 |-- Z_CostContact: integer (nullable = true)
 |-- Z_Revenue: integer (nullable = true)
 |-- Response: integer (nullable = true)

In [23]:
#Inspect first 20 rows of data
customer_data.show()

+----+----------+----------+--------------+------+-------+--------+-----------+-------+--------+---------+---------------+---------------+----------------+------------+-----------------+---------------+-------------------+-----------------+-----------------+------------+------------+------------+------------+------------+--------+-------------+---------+--------+
|  ID|Year_Birth| Education|Marital_Status|Income|Kidhome|Teenhome|Dt_Customer|Recency|MntWines|MntFruits|MntMeatProducts|MntFishProducts|MntSweetProducts|MntGoldProds|NumDealsPurchases|NumWebPurchases|NumCatalogPurchases|NumStorePurchases|NumWebVisitsMonth|AcceptedCmp3|AcceptedCmp4|AcceptedCmp5|AcceptedCmp1|AcceptedCmp2|Complain|Z_CostContact|Z_Revenue|Response|
+----+----------+----------+--------------+------+-------+--------+-----------+-------+--------+---------+---------------+---------------+----------------+------------+-----------------+---------------+-------------------+-----------------+-----------------+------------+------------+------------+------------+------------+--------+-------------+---------+--------+
|5524|      1957|Graduation|        Single| 58138|      0|       0| 04-09-2012|     58|     635|       88|            546|            172|              88|          88|                3|              8|                 10|                4|                7|           0|           0|           0|           0|           0|       0|            3|       11|       1|
|2174|      1954|Graduation|        Single| 46344|      1|       1| 08-03-2014|     38|      11|        1|              6|              2|               1|           6|                2|              1|                  1|                2|                5|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|4141|      1965|Graduation|      Together| 71613|      0|       0| 21-08-2013|     26|     426|       49|            127|            111|              21|          42|                1|              8|                  2|               10|                4|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|6182|      1984|Graduation|      Together| 26646|      1|       0| 10-02-2014|     26|      11|        4|             20|             10|               3|           5|                2|              2|                  0|                4|                6|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|5324|      1981|       PhD|       Married| 58293|      1|       0| 19-01-2014|     94|     173|       43|            118|             46|              27|          15|                5|              5|                  3|                6|                5|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|7446|      1967|    Master|      Together| 62513|      0|       1| 09-09-2013|     16|     520|       42|             98|              0|              42|          14|                2|              6|                  4|               10|                6|           0|           0|           0|           0|           0|       0|            3|       11|       0|
| 965|      1971|Graduation|      Divorced| 55635|      0|       1| 13-11-2012|     34|     235|       65|            164|             50|              49|          27|                4|              7|                  3|                7|                6|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|6177|      1985|       PhD|       Married| 33454|      1|       0| 08-05-2013|     32|      76|       10|             56|              3|               1|          23|                2|              4|                  0|                4|                8|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|4855|      1974|       PhD|      Together| 30351|      1|       0| 06-06-2013|     19|      14|        0|             24|              3|               3|           2|                1|              3|                  0|                2|                9|           0|           0|           0|           0|           0|       0|            3|       11|       1|
|5899|      1950|       PhD|      Together|  5648|      1|       1| 13-03-2014|     68|      28|        0|              6|              1|               1|          13|                1|              1|                  0|                0|               20|           1|           0|           0|           0|           0|       0|            3|       11|       0|
|1994|      1983|Graduation|       Married|  NULL|      1|       0| 15-11-2013|     11|       5|        5|              6|              0|               2|           1|                1|              1|                  0|                2|                7|           0|           0|           0|           0|           0|       0|            3|       11|       0|
| 387|      1976|     Basic|       Married|  7500|      0|       0| 13-11-2012|     59|       6|       16|             11|             11|               1|          16|                1|              2|                  0|                3|                8|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|2125|      1959|Graduation|      Divorced| 63033|      0|       0| 15-11-2013|     82|     194|       61|            480|            225|             112|          30|                1|              3|                  4|                8|                2|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|8180|      1952|    Master|      Divorced| 59354|      1|       1| 15-11-2013|     53|     233|        2|             53|              3|               5|          14|                3|              6|                  1|                5|                6|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|2569|      1987|Graduation|       Married| 17323|      0|       0| 10-10-2012|     38|       3|       14|             17|              6|               1|           5|                1|              1|                  0|                3|                8|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|2114|      1946|       PhD|        Single| 82800|      0|       0| 24-11-2012|     23|    1006|       22|            115|             59|              68|          45|                1|              7|                  6|               12|                3|           0|           0|           1|           1|           0|       0|            3|       11|       1|
|9736|      1980|Graduation|       Married| 41850|      1|       1| 24-12-2012|     51|      53|        5|             19|              2|              13|           4|                3|              3|                  0|                3|                8|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|4939|      1946|Graduation|      Together| 37760|      0|       0| 31-08-2012|     20|      84|        5|             38|            150|              12|          28|                2|              4|                  1|                6|                7|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|6565|      1949|    Master|       Married| 76995|      0|       1| 28-03-2013|     91|    1012|       80|            498|              0|              16|         176|                2|             11|                  4|                9|                5|           0|           0|           0|           1|           0|       0|            3|       11|       0|
|2278|      1985|  2n Cycle|        Single| 33812|      1|       0| 03-11-2012|     86|       4|       17|             19|             30|              24|          39|                2|              2|                  1|                3|                6|           0|           0|           0|           0|           0|       0|            3|       11|       0|
+----+----------+----------+--------------+------+-------+--------+-----------+-------+--------+---------+---------------+---------------+----------------+------------+-----------------+---------------+-------------------+-----------------+-----------------+------------+------------+------------+------------+------------+--------+-------------+---------+--------+
only showing top 20 rows

In [24]:
#Gets number of rows in the dataset
row_count = customer_data.count()

print(row_count)

#2,240 rows in DF

2240

## Data Cleaning

After an initial review of the dataset, the formatting appeared consistent across all variables, with the exception of `DT_Customers`, which will be converted to a datetime format later in the process. The remaining preprocessing steps involved handling rows containing missing values and removing columns deemed irrelevant for the analysis.

In [25]:
from pyspark.sql import functions as F

#Showing the number of NA values in each column of the dataset
null_counts = customer_data.select([F.count(F.when(F.col(c).isNull(), c)).alias(c) for c in customer_data.columns])

null_counts.show()

+---+----------+---------+--------------+------+-------+--------+-----------+-------+--------+---------+---------------+---------------+----------------+------------+-----------------+---------------+-------------------+-----------------+-----------------+------------+------------+------------+------------+------------+--------+-------------+---------+--------+
| ID|Year_Birth|Education|Marital_Status|Income|Kidhome|Teenhome|Dt_Customer|Recency|MntWines|MntFruits|MntMeatProducts|MntFishProducts|MntSweetProducts|MntGoldProds|NumDealsPurchases|NumWebPurchases|NumCatalogPurchases|NumStorePurchases|NumWebVisitsMonth|AcceptedCmp3|AcceptedCmp4|AcceptedCmp5|AcceptedCmp1|AcceptedCmp2|Complain|Z_CostContact|Z_Revenue|Response|
+---+----------+---------+--------------+------+-------+--------+-----------+-------+--------+---------+---------------+---------------+----------------+------------+-----------------+---------------+-------------------+-----------------+-----------------+------------+------------+------------+------------+------------+--------+-------------+---------+--------+
|  0|         0|        0|             0|    24|      0|       0|          0|      0|       0|        0|              0|              0|               0|           0|                0|              0|                  0|                0|                0|           0|           0|           0|           0|           0|       0|            0|        0|       0|
+---+----------+---------+--------------+------+-------+--------+-----------+-------+--------+---------+---------------+---------------+----------------+------------+-----------------+---------------+-------------------+-----------------+-----------------+------------+------------+------------+------------+------------+--------+-------------+---------+--------+

The only column with missing values is `Income`, which contains 24 NA entries. These rows will be removed, as over 2,000 observations will remain—providing sufficient data for subsequent analysis and modeling.

In [26]:
#Dropping rows with NA values in the Income column
customer_data = customer_data.na.drop(subset = ['Income'])

In [27]:
#Checking how many rows are in the dataset after dropping NA values
row_count = customer_data.count()

print(row_count)

2216

In [28]:
#Validating that there are no more NA values in the dataset
null_counts = customer_data.select([F.count(F.when(F.col(c).isNull(), c)).alias(c) for c in customer_data.columns])

null_counts.show()

+---+----------+---------+--------------+------+-------+--------+-----------+-------+--------+---------+---------------+---------------+----------------+------------+-----------------+---------------+-------------------+-----------------+-----------------+------------+------------+------------+------------+------------+--------+-------------+---------+--------+
| ID|Year_Birth|Education|Marital_Status|Income|Kidhome|Teenhome|Dt_Customer|Recency|MntWines|MntFruits|MntMeatProducts|MntFishProducts|MntSweetProducts|MntGoldProds|NumDealsPurchases|NumWebPurchases|NumCatalogPurchases|NumStorePurchases|NumWebVisitsMonth|AcceptedCmp3|AcceptedCmp4|AcceptedCmp5|AcceptedCmp1|AcceptedCmp2|Complain|Z_CostContact|Z_Revenue|Response|
+---+----------+---------+--------------+------+-------+--------+-----------+-------+--------+---------+---------------+---------------+----------------+------------+-----------------+---------------+-------------------+-----------------+-----------------+------------+------------+------------+------------+------------+--------+-------------+---------+--------+
|  0|         0|        0|             0|     0|      0|       0|          0|      0|       0|        0|              0|              0|               0|           0|                0|              0|                  0|                0|                0|           0|           0|           0|           0|           0|       0|            0|        0|       0|
+---+----------+---------+--------------+------+-------+--------+-----------+-------+--------+---------+---------------+---------------+----------------+------------+-----------------+---------------+-------------------+-----------------+-----------------+------------+------------+------------+------------+------------+--------+-------------+---------+--------+

In [29]:
#Drops columns we won't be using for efficiency
customer_data_filtered = customer_data.drop('Z_CostContact', 'Z_Revenue', 'Response')

#Printing schema of filtered table to ensure necessary columns where dropped
customer_data_filtered.printSchema()

root
 |-- ID: integer (nullable = true)
 |-- Year_Birth: integer (nullable = true)
 |-- Education: string (nullable = true)
 |-- Marital_Status: string (nullable = true)
 |-- Income: integer (nullable = true)
 |-- Kidhome: integer (nullable = true)
 |-- Teenhome: integer (nullable = true)
 |-- Dt_Customer: string (nullable = true)
 |-- Recency: integer (nullable = true)
 |-- MntWines: integer (nullable = true)
 |-- MntFruits: integer (nullable = true)
 |-- MntMeatProducts: integer (nullable = true)
 |-- MntFishProducts: integer (nullable = true)
 |-- MntSweetProducts: integer (nullable = true)
 |-- MntGoldProds: integer (nullable = true)
 |-- NumDealsPurchases: integer (nullable = true)
 |-- NumWebPurchases: integer (nullable = true)
 |-- NumCatalogPurchases: integer (nullable = true)
 |-- NumStorePurchases: integer (nullable = true)
 |-- NumWebVisitsMonth: integer (nullable = true)
 |-- AcceptedCmp3: integer (nullable = true)
 |-- AcceptedCmp4: integer (nullable = true)
 |-- AcceptedCmp5: integer (nullable = true)
 |-- AcceptedCmp1: integer (nullable = true)
 |-- AcceptedCmp2: integer (nullable = true)
 |-- Complain: integer (nullable = true)

## Feature Engineering

Based on my initial analysis, I identified opportunities to engineer new features that could provide additional insights into customer behavior. I also recognized that the `Education` and `Marital_Status` columns, being categorical variables without inherent ordinal relationships, would require one-hot encoding. This transformation will be implemented later during the clustering pipeline.

In [30]:
from pyspark.sql.functions import when

#Creating the feature engineering dataframe which is a copy of the filtered dataframe
customer_data_fe = customer_data_filtered

#Creates total_num_kids column which combines the two kids columns to get the total number of kids
customer_data_fe = customer_data_fe.withColumn('total_num_kids',
                                                     F.col('Kidhome') + F.col('Teenhome')
                                                     )
#Converting Dt_Customer into a date value
customer_data_fe = customer_data_fe.withColumn('Dt_Customer_datetime',
                                                     F.to_date(F.col('Dt_Customer'), 'dd-MM-yyyy')
                                                     )

#Gets the maximum date from the Dt_Customer_datetime column
dt_max_date = customer_data_fe.select(F.max('Dt_Customer_datetime')).collect()[0][0]

#Creates the total_days_filtered which subtracts each dates from the maxiumum (most recent) date
customer_data_fe = customer_data_fe.withColumn('total_days_enlisted',
                                               F.date_diff(F.lit(dt_max_date), F.col('Dt_Customer_datetime'))
                                               )

#Creates the total_campaigns_accepted column which is a sum of AcceptedCmp1-5
customer_data_fe = customer_data_fe.withColumn('total_campaigns_accepted',
                                               F.col('AcceptedCmp1') + F.col('AcceptedCmp2') + F.col('AcceptedCmp3') + F.col('AcceptedCmp4') + F.col('AcceptedCmp5')
                                               )
#Extracts the year from the maximum date
max_year = dt_max_date.year

#Creates an age column that subtracts the maximum year from the Year_Birth
customer_data_fe = customer_data_fe.withColumn('age',
                                               F.lit(max_year) - F.col('Year_Birth')
                                               )

# Remove invalid categories
customer_data_fe = customer_data_fe.filter(~F.col("Marital_Status").isin("YOLO", "Absurd"))

# Replace 'Alone' with 'Single'
customer_data_fe = customer_data_fe.withColumn("Marital_Status",
    when(F.col("Marital_Status") == "Alone", "Single").otherwise(F.col("Marital_Status"))
)

customer_data_fe = customer_data_fe.withColumn(
    "Education",
    when(F.col("Education") == "Basic", "High School")
    .when(F.col("Education") == "Graduation", "Bachelors")
    .otherwise(F.col("Education"))
)

# Create total spent column for further analysis
cols = ["MntWines", "MntFruits", "MntMeatProducts",
        "MntFishProducts", "MntSweetProducts", "MntGoldProds"]

customer_data_fe = customer_data_fe.withColumn("total_spent", sum([F.col(c) for c in cols]))

# Create age groups
customer_data_fe = customer_data_fe.withColumn(
    "age_group",
    F.when(F.col("age") < 30, "under 30")
     .when(F.col("age") < 40, "30s")
     .when(F.col("age") < 50, "40s")
     .when(F.col("age") < 60, "50s")
     .otherwise("60+")
)

In [31]:
#Verify new columns added
customer_data_fe.show()

+----+----------+-----------+--------------+------+-------+--------+-----------+-------+--------+---------+---------------+---------------+----------------+------------+-----------------+---------------+-------------------+-----------------+-----------------+------------+------------+------------+------------+------------+--------+--------------+--------------------+-------------------+------------------------+---+-----------+---------+
|  ID|Year_Birth|  Education|Marital_Status|Income|Kidhome|Teenhome|Dt_Customer|Recency|MntWines|MntFruits|MntMeatProducts|MntFishProducts|MntSweetProducts|MntGoldProds|NumDealsPurchases|NumWebPurchases|NumCatalogPurchases|NumStorePurchases|NumWebVisitsMonth|AcceptedCmp3|AcceptedCmp4|AcceptedCmp5|AcceptedCmp1|AcceptedCmp2|Complain|total_num_kids|Dt_Customer_datetime|total_days_enlisted|total_campaigns_accepted|age|total_spent|age_group|
+----+----------+-----------+--------------+------+-------+--------+-----------+-------+--------+---------+---------------+---------------+----------------+------------+-----------------+---------------+-------------------+-----------------+-----------------+------------+------------+------------+------------+------------+--------+--------------+--------------------+-------------------+------------------------+---+-----------+---------+
|5524|      1957|  Bachelors|        Single| 58138|      0|       0| 04-09-2012|     58|     635|       88|            546|            172|              88|          88|                3|              8|                 10|                4|                7|           0|           0|           0|           0|           0|       0|             0|          2012-09-04|                663|                       0| 57|       1617|      50s|
|2174|      1954|  Bachelors|        Single| 46344|      1|       1| 08-03-2014|     38|      11|        1|              6|              2|               1|           6|                2|              1|                  1|                2|                5|           0|           0|           0|           0|           0|       0|             2|          2014-03-08|                113|                       0| 60|         27|      60+|
|4141|      1965|  Bachelors|      Together| 71613|      0|       0| 21-08-2013|     26|     426|       49|            127|            111|              21|          42|                1|              8|                  2|               10|                4|           0|           0|           0|           0|           0|       0|             0|          2013-08-21|                312|                       0| 49|        776|      40s|
|6182|      1984|  Bachelors|      Together| 26646|      1|       0| 10-02-2014|     26|      11|        4|             20|             10|               3|           5|                2|              2|                  0|                4|                6|           0|           0|           0|           0|           0|       0|             1|          2014-02-10|                139|                       0| 30|         53|      30s|
|5324|      1981|        PhD|       Married| 58293|      1|       0| 19-01-2014|     94|     173|       43|            118|             46|              27|          15|                5|              5|                  3|                6|                5|           0|           0|           0|           0|           0|       0|             1|          2014-01-19|                161|                       0| 33|        422|      30s|
|7446|      1967|     Master|      Together| 62513|      0|       1| 09-09-2013|     16|     520|       42|             98|              0|              42|          14|                2|              6|                  4|               10|                6|           0|           0|           0|           0|           0|       0|             1|          2013-09-09|                293|                       0| 47|        716|      40s|
| 965|      1971|  Bachelors|      Divorced| 55635|      0|       1| 13-11-2012|     34|     235|       65|            164|             50|              49|          27|                4|              7|                  3|                7|                6|           0|           0|           0|           0|           0|       0|             1|          2012-11-13|                593|                       0| 43|        590|      40s|
|6177|      1985|        PhD|       Married| 33454|      1|       0| 08-05-2013|     32|      76|       10|             56|              3|               1|          23|                2|              4|                  0|                4|                8|           0|           0|           0|           0|           0|       0|             1|          2013-05-08|                417|                       0| 29|        169| under 30|
|4855|      1974|        PhD|      Together| 30351|      1|       0| 06-06-2013|     19|      14|        0|             24|              3|               3|           2|                1|              3|                  0|                2|                9|           0|           0|           0|           0|           0|       0|             1|          2013-06-06|                388|                       0| 40|         46|      40s|
|5899|      1950|        PhD|      Together|  5648|      1|       1| 13-03-2014|     68|      28|        0|              6|              1|               1|          13|                1|              1|                  0|                0|               20|           1|           0|           0|           0|           0|       0|             2|          2014-03-13|                108|                       1| 64|         49|      60+|
| 387|      1976|High School|       Married|  7500|      0|       0| 13-11-2012|     59|       6|       16|             11|             11|               1|          16|                1|              2|                  0|                3|                8|           0|           0|           0|           0|           0|       0|             0|          2012-11-13|                593|                       0| 38|         61|      30s|
|2125|      1959|  Bachelors|      Divorced| 63033|      0|       0| 15-11-2013|     82|     194|       61|            480|            225|             112|          30|                1|              3|                  4|                8|                2|           0|           0|           0|           0|           0|       0|             0|          2013-11-15|                226|                       0| 55|       1102|      50s|
|8180|      1952|     Master|      Divorced| 59354|      1|       1| 15-11-2013|     53|     233|        2|             53|              3|               5|          14|                3|              6|                  1|                5|                6|           0|           0|           0|           0|           0|       0|             2|          2013-11-15|                226|                       0| 62|        310|      60+|
|2569|      1987|  Bachelors|       Married| 17323|      0|       0| 10-10-2012|     38|       3|       14|             17|              6|               1|           5|                1|              1|                  0|                3|                8|           0|           0|           0|           0|           0|       0|             0|          2012-10-10|                627|                       0| 27|         46| under 30|
|2114|      1946|        PhD|        Single| 82800|      0|       0| 24-11-2012|     23|    1006|       22|            115|             59|              68|          45|                1|              7|                  6|               12|                3|           0|           0|           1|           1|           0|       0|             0|          2012-11-24|                582|                       2| 68|       1315|      60+|
|9736|      1980|  Bachelors|       Married| 41850|      1|       1| 24-12-2012|     51|      53|        5|             19|              2|              13|           4|                3|              3|                  0|                3|                8|           0|           0|           0|           0|           0|       0|             2|          2012-12-24|                552|                       0| 34|         96|      30s|
|4939|      1946|  Bachelors|      Together| 37760|      0|       0| 31-08-2012|     20|      84|        5|             38|            150|              12|          28|                2|              4|                  1|                6|                7|           0|           0|           0|           0|           0|       0|             0|          2012-08-31|                667|                       0| 68|        317|      60+|
|6565|      1949|     Master|       Married| 76995|      0|       1| 28-03-2013|     91|    1012|       80|            498|              0|              16|         176|                2|             11|                  4|                9|                5|           0|           0|           0|           1|           0|       0|             1|          2013-03-28|                458|                       1| 65|       1782|      60+|
|2278|      1985|   2n Cycle|        Single| 33812|      1|       0| 03-11-2012|     86|       4|       17|             19|             30|              24|          39|                2|              2|                  1|                3|                6|           0|           0|           0|           0|           0|       0|             1|          2012-11-03|                603|                       0| 29|        133| under 30|
|9360|      1982|  Bachelors|       Married| 37040|      0|       0| 08-08-2012|     41|      86|        2|             73|             69|              38|          48|                1|              4|                  2|                5|                8|           0|           0|           0|           0|           0|       0|             0|          2012-08-08|                690|                       0| 32|        316|      30s|
+----+----------+-----------+--------------+------+-------+--------+-----------+-------+--------+---------+---------------+---------------+----------------+------------+-----------------+---------------+-------------------+-----------------+-----------------+------------+------------+------------+------------+------------+--------+--------------+--------------------+-------------------+------------------------+---+-----------+---------+
only showing top 20 rows

In [32]:
#Exports prepreocessed dataframe to data folder
customer_data_fe.write.csv("../Data/preprocessed_segmenting_data_csv", header = True, mode = "overwrite")